<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sceanrio 1">
  <test thread-count="5" name="Test Case 1 plus Test Case 2">
    <classes>
      <class name="Admin_Portal.AdminPortalTest1"/>
    </classes>
  </test> <!-- Test Case 1 plus Test Case 2 -->
</suite> <!-- Sceanrio 1 -->
